.sliderContainer{
	max-width:800px;
	margin:auto;
	overflow:hidden;
	position:relative;
}

.slider .slide{
	display:inline;
	margin:0;
	padding:0;
	width:800px;
	float:left;
	position:relative;
}


h1{
	position :absolute;
	right:10%;
	top:40%;
}
.test{
	width:100px;
	height:100px;
	background:red;
}
